.commandlog-container {
  margin-top: 25px;
  width: 100%;
  text-align: left;
}

.commandlog-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.commandlog-box {
  background: #1a1a1a;
  border: 1px solid var(--border-color);
  padding: 10px;
  height: 450px;
  overflow-y: auto;
  border-radius: 6px;
}

.commandlog-entry {
  padding: 4px 0;
  border-bottom: 1px solid #333;
  color: var(--text-color);
}

.commandlog-entry:last-child {
  border-bottom: none;
}

.commandlog-empty {
  font-style: italic;
  color: var(--muted);
}
