.status-box {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background: #2a2a2a;
  margin-bottom: 20px;
  font-weight: bold;
}

.ok {
  color: var(--success);
}

.fail {
  color: var(--danger);
}
